<header class="d-flex align-items-center my-3" [ngClass]="{'justify-content-between': isInAdminPanel, 'justify-content-center':!isInAdminPanel}">
  <h3>FAQ</h3>

  @if (isInAdminPanel) {
  <div>
    <button
      pButton
      (click)="this.showCreateFaq = true"
      class="text-white p-button-raised"
    >
      <span><i class="pi pi-plus"></i> Create</span>
    </button>
  </div>

  }
</header>
<div class="my-3 d-flex flex-column gap-2">
  @for (faq of faqList; track $index) {
  <p-accordion>
    <p-accordionTab tabStyleClass="shadow-sm rounded-2">
      <ng-template pTemplate="header">
        <div class="d-flex justify-content-between w-100 align-items-center">
          <span>
            {{ faq.question }}
          </span>
          @if (isInAdminPanel) {
          <app-confirm
            (confirmation)="deleteFaq(faq.id!)"
            title="Delete"
            [description]="'Are you sure you want to delete'"
          >
            <i class="pi pi-trash"></i>
          </app-confirm>
          }
        </div>
      </ng-template>
      <span>
        {{ faq.answer }}
      </span>
    </p-accordionTab>
  </p-accordion>
  }
</div>

@if( isInAdminPanel){
<p-dialog
  header="Create FAQ"
  [(visible)]="showCreateFaq"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '75vw', minWidth: '260px' }"
  [baseZIndex]="9000"
>
  <app-create-faq
    (createEvent)="this.showCreateFaq = false; getFaqList()"
  ></app-create-faq>
</p-dialog>
}
