<div class="login-container ">
    <form [formGroup]="form" class="d-flex flex-column gap-3">
      <h1 class="text-center">Welcome back!</h1>  
      <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input type="email" placeholder="Email" pInputText formControlName="email" />
      </span>
      
      <div class="w-100 d-flex justify-content-center">
        <p-button
        [rounded]="false"
        [raised]="true"
        (onClick)="forgetPassword()"
        >
        <span class="text-white">Forgot Password</span>
      </p-button>
      </div>
  
      <div class="d-flex justify-content-center">
        <a class="purple" [routerLink]="['/login']">Login</a>
      </div>
    </form>
  </div>