.sticky-card {
    top: 25px;
}

.field {
    display: flex;
    justify-content: space-between;
}

.field>:first-child {
    font-weight: bold;
    /* font-size:20px; */
}

h3 {
    font-weight: bold;
}

.table-container {
    max-width:100%;
    overflow: scroll;
}

.graph-datatable {
    min-width: 800px;
}

.property-image{
    background-position: center;
    min-height: 20rem;
}