@if(property){
<div class="overflow-hidden gallery position-relative">
  <p-carousel [value]="property.propertyImages!.slice(0, 3)" [responsiveOptions]="responsiveOptions"
    [showIndicators]="false" [showNavigators]="false">
    <ng-template let-image pTemplate="item" let-index="image.index">
      <div class="property-image" [ngStyle]="{
          'background-image': 'url(' + helper.processFileUrl(image) + ')'
        }"></div>
    </ng-template>
  </p-carousel>

  <div style="right: 5px; top: 5px" class="position-absolute d-flex align-items-center gap-2">
    @if(property.propertyImages?.length){
    <p-button (onClick)="displayGalleria = true" [raised]="true" styleClass="bg-white text-primary border-0">
      <span>
        <i class="pi pi-images"></i>
        <span class="d-sm-inline d-none"> View All Photos</span>
      </span>
    </p-button>
    }

    @if(isInAdminPanel){
    <a [routerLink]="'/admin/marketplace/property-actions/' + propertyId">
      <p-button [raised]="true" styleClass="bg-white text-primary border-0">
        <span>
          <i class="pi pi-pencil"></i>
          <span class="d-sm-inline d-none"> Edit Property</span>
        </span>
      </p-button>
    </a>

    <app-confirm [label]="'Delete Property'" [severity]="'danger'" [title]="'Delete '+property.location+' property'"
      [description]="'Are you sure you want to delete this property?'"
      (confirmation)="businessHelper.deleteProperty(propertyId!); goToPropertiesPage()"></app-confirm>
    }
  </div>
</div>
<p-galleria [value]="property.propertyImages!" [(visible)]="displayGalleria" [responsiveOptions]="responsiveOptions"
  [containerStyle]="{ 'max-width': '850px' }" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
  [showThumbnails]="false">
  <ng-template pTemplate="item" let-item>
    <img [src]="helper.processFileUrl(item)" style="width: 100%; display: block; object-fit: cover" />
  </ng-template>
</p-galleria>
<div class="container-sm">
  <div class="row g-lg-4 g-0 flex-wrap-reverse mx-0 position-relative">
    <div class="property-details col-lg-8 col-12">
      <header class="my-5">
        <span class="border bg-white border-2 px-3 py-1 rounded-3" [ngClass]="{
            'border-info-subtle text-info': property.status == 3,
            'border-success-subtle text-success': property.status == 2,
            'border-danger-subtle text-danger': property.status == 1
          }">{{ businessHelperStatic.getPropertyStatusName(property.status!) }}</span>
        <h3 class="mb-0 mt-3">{{ property.location }}</h3>
        <span>{{ property.city }}, {{ property.governorate }}</span>
      </header>
      <p-tabView [(activeIndex)]="activeIndex" styleClass="w-100">
        <p-tabPanel header="Details">
          <div class="d-flex gap-2 flex-wrap mb-5">
            @for (item of property.propertyFacilities; track $index) {
            <div
              class="p-2 shadow-sm bg-white d-flex flex-column align-items-center justify-content-between rounded-3 border border-2">
              <img style="width: 24px" [src]="helper.processFileUrl(item.svg, true)" alt="" />
              <span>{{ item.description }}</span>
            </div>
            }
          </div>
          <h3 class="mt-3">About the Property</h3>
          <mat-divider></mat-divider>
          <p [innerHTML]="property.description"></p>
        </p-tabPanel>
        <p-tabPanel header="Financials">
          <div class="shadow-sm p-3 rounded-3 mb-2 bg-white">
            <h3>Financials</h3>
            <div class="field">
              <label>Unit Price:</label>
              <span>
                {{
                property.unitPrice | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Maintenance Cost:</label>
              <span>{{
                property.maintenanceCostNumerical
                | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Transaction Fees:</label>
              <span>
                {{
                property.transactionFeesNumerical
                | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Number of Shares:</label>
              <span> {{ property.numberOfShares }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Price per Share:</label>
              <span>{{
                property.sharePrice | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
          </div>

          <div class="shadow-sm p-3 rounded-3 mb-2 bg-white">
            <h3>Payment Plan</h3>
            <div class="field">
              <label>Downpayment:</label>
              <span>{{
                property.downPayment | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Monthly Installment:</label>
              <span>{{
                property.monthlyInstallment
                | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Number of Years:</label>
              <span> {{ property.numberOfYears }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Maintenance Installment:</label>
              <span>{{
                property.maintenaceInstallment
                | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Delivery Installment:</label>
              <span>{{
                property.deliveryInstallment
                | currency : "EGP" : "symbol" : "1.0-0"
                }}</span>
            </div>
          </div>

          <div class="shadow-sm p-3 rounded-3 mb-2 bg-white">
            <h3>Projected Annual Return</h3>
            <div class="field">
              <label>Projected Annual Return:</label>
              <span>{{ property.projectedAnnualReturn | percent }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Projected Rental Yield:</label>
              <span>{{ property.annualRentalYield | percent }}</span>
            </div>
            <mat-divider></mat-divider>
            <div class="field">
              <label>Projected Appreciation:</label>
              <span>{{ property.annualPriceAppreciation | percent }}</span>
            </div>
          </div>
          <div class="graph">
            <div class="rounded-3 shadow-sm p-3 my-5 bg-white">
              <h3>Projected Returns Per Share</h3>
              <div>
                <div class="d-flex justify-content-between">
                  <h5>Shares Purchased</h5>
                  <h5>
                    <span>{{ estimationData.tokensPurchased }}</span>
                    /
                    <span>
                      {{
                      property.sharePrice! * estimationData.tokensPurchased
                      | currency : "EGP" : "symbol" : "1.0-0"
                      }}
                    </span>
                  </h5>
                </div>
                <p-slider [animate]="true" [(ngModel)]="estimationData.tokensPurchased" (ngModelChange)="initChart()"
                  [min]="1" [max]="property.availableShares!"></p-slider>
                <h5 class="d-flex justify-content-between mt-2">
                  <span>1</span>
                  <span>{{ property.availableShares }}</span>
                </h5>
              </div>
              <div>
                <h5 class="d-flex justify-content-between mt-2">
                  <span>Appreciation</span>
                  <span>{{ estimationData.appreciation }}%</span>
                </h5>
                <p-slider [animate]="true" [(ngModel)]="estimationData.appreciation" (ngModelChange)="initChart()"
                  [min]="1" [max]="100"></p-slider>
                <h5 class="d-flex justify-content-between mt-2">
                  <span>1</span>
                  <span>100</span>
                </h5>
              </div>
              <div>
                <h5 class="d-flex justify-content-between">
                  <span>Rental Yield</span>
                  <span>{{ estimationData.rentalYield }}%</span>
                </h5>
                <p-slider [animate]="true" [(ngModel)]="estimationData.rentalYield" (ngModelChange)="initChart()"
                  [min]="1" [max]="100"></p-slider>
                <h5 class="d-flex justify-content-between mt-2">
                  <span>1</span>
                  <span>100</span>
                </h5>
              </div>
            </div>
            <div class="bg-white p-3 rounded-3 shadow-sm">
              <h3>
                Est. Investment Value over time based on above assumptions
              </h3>
              <p-chart type="bar" [data]="chart.data" [options]="chart.options"></p-chart>
            </div>
          </div>
          <div class="table-container mt-3 bg-white p-3 rounded-3 shadow-sm">
            <div class="graph-datatable">
              <div class="row py-3 align-items-center">
                <div class="col-4"></div>
                <h4 class="col-2 fw-bold text-center">Year 2</h4>
                <h4 class="col-2 fw-bold text-center">Year 5</h4>
                <h4 class="col-2 fw-bold text-center">Year 10</h4>
                <h4 class="col-2 fw-bold text-center">Year 15</h4>
              </div>
              <div class="row py-3 align-items-center">
                <h4 class="col-4 fw-bold">Cumulative Rental Yield</h4>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[1]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[4]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[9]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[14]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row py-3 align-items-center">
                <h4 class="col-4 fw-bold">Cumulative Appreciation Gain</h4>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[1].data[1]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[1].data[4]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[1].data[9]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[1].data[14]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row py-3 align-items-center">
                <h4 class="col-4 fw-bold">Your Investment</h4>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[2].data[1]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[2].data[4]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[2].data[9]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[2].data[14]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row py-3 align-items-center">
                <h4 class="col-4 fw-bold">Total Investment Value</h4>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[1] +
                  chart.data.datasets[1].data[1] +
                  chart.data.datasets[2].data[1]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[4] +
                  chart.data.datasets[1].data[4] +
                  chart.data.datasets[2].data[4]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[9] +
                  chart.data.datasets[1].data[9] +
                  chart.data.datasets[2].data[9]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
                <div class="col-2 text-center">
                  {{
                  chart.data.datasets[0].data[14] +
                  chart.data.datasets[1].data[14] +
                  chart.data.datasets[2].data[14]
                  | currency : "EGP" : "symbol-narrow"
                  }}
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="col-lg-4 col-12 gy-4">
      <div class="bg-white rounded-3 shadow-sm p-3 position-sticky sticky-card">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h3 class="fw-bold" pTooltip="This is the lowest current price per share availiable for this property."
            [tooltipPosition]="'left'">
            Share Price
          </h3>
          <p>
            {{ property.sharePrice | currency : "EGP" : "symbol" : "1.0-0" }}
          </p>
        </div>
        <mat-divider></mat-divider>

        <div class="d-flex justify-content-between align-items-center w-100 my-3">
          <span
            pTooltip="The projected total return on investment over a 12 month period, assuming the Operating Reserve is replenished to full and tenants are current on rent. Calculated by adding the projected rental yield and the projected appreciation for the next 12 months."
            [tooltipPosition]="'left'">
            Projected Annual Return
          </span>
          <span>
            {{ property.projectedAnnualReturn | percent }}
          </span>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 my-3">
          <span
            pTooltip="The projected return on capital based on historical Cash Flow (prior month's Gross Rental Income - prior month's expenses). Click the 'Financials' tab for details."
            [tooltipPosition]="'left'">
            Projected Appreciation
          </span>
          <span>
            {{ property.annualPriceAppreciation | percent }}
          </span>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100 my-3">
          <span
            pTooltip="The projected annual return on capital based on potential Cash Flow (potential Gross Rental Income - projected expenses) once the Operating Reserve is replenished to full and all tenants are paying rent. Projected Rental Yield adjusts dynamically based on the 'Starting Price' for the property, which is the lowest current price per share available for the property."
            [tooltipPosition]="'left'">
            Projected Rental Yield
          </span>
          <span>
            {{ property.annualRentalYield | percent }}
          </span>
        </div>

        <div class="row row-cols-2 justify-content-center">
          <div>
            <p-button styleClass="w-100">
              <span class="mx-auto text-white">Buy</span>
            </p-button>
          </div>
          <div>
            <p-button styleClass="w-100 bg-white border border-primary">
              <span class="mx-auto">Sell</span>
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}