.sidenav-container {
    min-height:100vh;
    height: 100%;
    position: fixed;
}

.expanded {
    width: 280px;
}

.collapsed {
    width: 0px;
}
.content, .sidenav-container {
    padding-top: var(--navbar-container-height);
}