<div class="fixed-top">
    <div class="bg-white border border-1">
        <app-admin-navbar (togglerEvent)="expanded=$event" [expanded]="expanded">
        </app-admin-navbar>
    </div>
</div>
<div class="d-flex">
    <div class="transition sidenav-container bg-white h-100 overflow-y-scroll sticky-top border border-1" [ngClass]="{ expanded: expanded, collapsed: !expanded }">
        <app-sidebar></app-sidebar>
    </div>
    <div class="container-fluid content">
        <router-outlet></router-outlet>
    </div>
</div>