.sidenav-container {
    min-height:100vh;
    height: 100%;
}

.expanded {
    width: 280px;
}

.collapsed {
    width: 0px;
}
.content, .sidenav-container {
    padding-top: calc(var(--navbar-container-height) + 20px);
}