.footer {

    width: max-content;
}

@media screen and (max-width: 786px) {
    .footer{
        width: 100%;
    }
}

.sponsor {
    height: var(--logo-height);

}



hr{
    height: 1px;
    width: 25%;
    border-top: 1.8px;
    border-color: black;
    border-style: solid;
}

.here{
    height: 50px;
    margin:auto 0 0 0;
}