<div class="px-md-5 ">
    <div class="text-center contained">
        <h1>You don’t have to be a pro to invest like one</h1>
        <p>Get instant access to great property deals, in-depth analysis, and a community of wealth builders from
            around the world.</p>
    </div>
    <div>
        <div class="row row-cols-sm-2 g-4">
            @for (item of contentSections; track $index) {
            <div>
                <div class="row card g-3 p-3 bg-white shadow-sm flex-wrap-reverse rounded-3 h-100 m-0 text-center text-sm-start">
                    <div class="col d-flex align-items-center justify-content-center">
                        <img class="sec-image" [src]="item.img" [alt]="item.title">
                    </div>
                    <div class="col-lg-8 col-12">
                        <p class="fs-4 fw-bold">{{item.title}}</p>
                        <span class="description">{{item.description}}</span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>