<div>
    <div class="navbar-container bg-white border border-1 sticky-top">
        <div class="container">
            <app-navbar [(collapse)]="collapse" [showSidebarMenuButton]="true">
                <i class="material-icons fs-5 cursor-pointer" (click)="toggleCollapse(!collapse)">menu</i>
            </app-navbar>
        </div>
    </div>
    <div>
        <div class="transition sidenav-container bg-white h-100 overflow-x-hidden sticky-top border border-1 z-2"
            [ngClass]="{ expanded: !collapse}">
            <app-sidebar [(collapse)]="collapse">
            </app-sidebar>
        </div>

    </div>

    <div class="container min-vh-100">
        <router-outlet></router-outlet>
    </div>
    <div class="bg-dark-blue py-5 mt-5">
        <div class="container">
            <app-footer></app-footer>
        </div>
    </div>
</div>