<div>
    <div class="navbar-container bg-white border border-1 sticky-top container-fluid">
        <app-navbar [(collapse)]="collapse" [showSidebarMenuButton]="true">
        </app-navbar>
    </div>
    
    <div class="d-flex">
        <div class="transition sidenav-container min-vh-100 bg-white border border-1" [ngClass]="{ expanded: !collapse}">
            <div class="sidenav sticky-top overflow-x-hidden z-2">
                <app-sidebar [(collapse)]="collapse" >
                    <div style="cursor: pointer;" class="ps-3 py-2 d-flex align-items-center gap-3 w-100" (click)="toggleCollapse(!collapse)">
                        <i class="material-icons fs-5">menu</i>
                        Collapse
                    </div>
                </app-sidebar>
            </div>
    
        </div>
        
        <div class="container-fluid min-vh-100">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="bg-dark-blue py-5">
        <div class="container-fluid">
            <app-footer></app-footer>
        </div>
    </div>
</div>