<div class="my-3">
  <button class="w-100 text-white" pButton [raised]="true" (click)="addTeamMemberModal = true">
    <span class="mx-auto"> <i class="pi pi-plus"></i> Add Team Member </span>
  </button>
</div>

<div class="text-center">
  <h3>Board Of Directors & Advisors</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

  <div class="row row-cols-lg-3 justify-content-center">
    @for (member of teamMembers; track $index) {
    <app-team-member-card [member]="member"></app-team-member-card>
    }
  </div>
</div>

<p-dialog
  header="Add Team Member"
  [(visible)]="addTeamMemberModal"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '75vw', minWidth: '260px' }"
  [maximizable]="true"
  [baseZIndex]="9000"
>
  <app-create-team-member [isManager]="false"></app-create-team-member>
</p-dialog>
