<div class="my-3">
  <button class="w-100 text-white" pButton [raised]="true" (click)="addTeamMemberModal = true">
    <span class="mx-auto"> <i class="pi pi-plus"></i> Add Team Member </span>
  </button>
</div>

<div class="text-center">
  <h3>Board Of Directors & Advisors</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

  <div class="row row-cols-lg-3 justify-content-center g-5">
    @for (member of teamMembers; track $index) {
      <div>
        <app-team-member-card [member]="member">
          <app-confirm
          (confirmation)="deleteMember(member.id!)"
          title="Delete"
          [description]="'Are you sure you want to delete  ' + member.name"
        >
        <button pButton severity="danger" class="text-white w-100">
          <small class="mx-auto">Delete Member</small>
        </button>
        </app-confirm>

        </app-team-member-card>
      </div>
    }
  </div>
</div>

<p-dialog
  header="Add Team Member"
  [(visible)]="addTeamMemberModal"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '75vw', minWidth: '260px' }"
  [maximizable]="true"
  [baseZIndex]="9000"
>
  <app-create-team-member [isManager]="false"
  (createEvent)="addTeamMemberModal = false; getAllMembers()"
  ></app-create-team-member>
</p-dialog>
