<h2 dir="auto" class="text-center" mat-dialog-title>Payment Methods</h2>
<mat-dialog-content>
  <div>
    <p class="text-center fw-semibold">Your Fees</p>
    <div class="d-flex justify-content-between">
      <p>{{ data.name }}</p>
      <p *ngIf="data.fees">
        {{ data.fees | currency : "EGP" : "symbol-narrow" }}
        <span> Per Team</span>
      </p>
      <p *ngIf="data.feesPerPlayer">
        {{ data.feesPerPlayer | currency : "EGP" : "symbol-narrow" }} Per Player
      </p>
    </div>
  </div>

  <ul>
    <li>
      <span> <b>Instapay: </b>01066611706 </span>
    </li>
    <li>
      <p><b>Bank Account: </b>AlBaraka Bank Egypt</p>
      <p><b>Account Name: </b>Identity Advertising</p>
      <p><b>Account Number: </b>8110005511083782001</p>
    </li>
    <li>
      <span>
        <b>Cash: </b>
        PHSC Sports Fest Kiosk located at Street 88
      </span>
    </li>
  </ul>

  <div class="d-flex justify-content-evenly mb-4" mat-dialog-actions>
    <p-button
      mat-dialog-close
      cdkFocusInitial
      [rounded]="true"
      [raised]="true"
      (click)="dialogRef.close(true)"
    >
      <i class="pi pi-check"></i>
    </p-button>
    <p-button mat-dialog-close 
    [rounded]="true"
    [raised]="true"
    (click)="dialogRef.close(false)">
    <i class="pi pi-times"></i>

    </p-button>
  </div>
</mat-dialog-content>
