<div class="bg-white rounded-3 shadow-sm overflow-hidden blog-card">
  <div class="cursor-pointer" [routerLink]="isInAdminPanel ? ['/admin/blog/details/' + blog?.id] : ['/blog/details/' + blog?.id] ">
    <div
      class="blog-image"
      [style.background-image]="getBackgroundImage(blog?.imageUrl!)"
    ></div>
    <div class="p-2">
      @if(blog?.title!.length > 35 ){
        <h4 dir="auto" class="cursor-pointer" [pTooltip]="blog?.title!" tooltipPosition="left">{{ blog?.title! | truncate
          : 35 }}</h4>
        } @else {
        <h4 dir="auto">{{ blog?.title! }}</h4>
        }
    </div>
  </div>
  <ng-content></ng-content>
</div>
