<a>
    <div class="shadow-sm property-card bg-white shadow-sm rounded-3 overflow-hidden">
        <div class="img-container">
            <div class="position-absolute badge badge-top text-white"><span>Featured</span></div>
            <div class="position-absolute badge badge-bottom"><small class="mat-small">New Listing</small></div>
            <img class="w-100" [src]="property.imageUrl ? helper.processFileUrl(property.imageUrl) : 'https://placehold.co/200?text=Add+Photos'" [alt]="property.address">
        </div>
        <div class="p-3">
            <div class="d-flex flex-column">
                <small class="fw-semibold">{{property.address}}</small>
                <small class="mat-small text-muted">{{property.city}}</small>
            </div>
            <div class="d-flex gap-2 text-primary-subtle">
                <small class="fw-semibold">{{property.projectedRentalYield?.toFixed(1)}}%</small>
                <small class="mat-small fw-semibold">Projected Rental Yield</small>
            </div>
            <div class="d-flex gap-2">
                <small class="fw-semibold">{{property.projectedAnnualReturn?.toFixed(1)}}%</small>
                <small class="mat-small">Projected Annual Return</small>
            </div>
        </div>
        <div class="bg-primary p-3 text-center text-white">
            <small class="mat-small">Available: {{property.availableTokens}} tokens at {{property.tokenPrice | currency : "EGP" : "symbol" : "1.0-0"}}</small>
        </div>
    </div>
</a>