<div class="navbar d-flex gap-3 toggler-container align-items-center container-fluid py-sm-2">
    <mat-icon class="ms-2" style="cursor: pointer;" (click)="expanded = !expanded;togglerEvent.next(expanded)">menu</mat-icon>
    <!-- <div class="d-flex mx-auto gap-5 logos-container align-items-center d-flex" [ngClass]="{'d-sm-none':!home}">
        <img class="logo" src="/assets/png/logos/ph-logos.png" alt="">
        <img class="logo" src="/assets/png/logos/phsc-olympics.png" alt="">
    </div> -->
</div>