<div class="d-flex flex-column gap-5 container-sm">
    <div class="d-flex">
        <div class="text-md-start text-center">
            <h1 class="gradient-background-dark d-none d-md-block">
                Fractional Real Estate Marketplace
            </h1>
            <h1 class="gradient-background-dark d-md-none">Lofty Marketplace</h1>
            <p>
                Invest in fractions of rental properties listed by third party sellers.
            </p>
        </div>
        <img class="w-25 d-md-block d-none" src="/assets/page-resources/marketplace.png" alt="" />
    </div>
    <div class="filters row row-cols-lg-5 row-cols-md-3 g-4 justify-content-center">
        <div>
            <small class="mat-small d-block mt-1 mb-3">Governorate</small>
            <div>
                <p-dropdown [filter]="true" filterBy="name" [options]="governorates" [optionLabel]="'name'"
                    [showClear]="true" [(ngModel)]="selectedGov" (onChange)="initCity()" placeholder="All Governorates"
                    styleClass="w-100">
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ option.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div>
            <small class="mat-small d-block mt-1 mb-3">City</small>
            <div>
                <p-dropdown [filter]="true" filterBy="name" [(ngModel)]="selectedCity" [disabled]="!selectedGov"
                    [options]="cities" [optionLabel]="'name'" [showClear]="true" placeholder="All Cities"
                    styleClass="w-100"></p-dropdown>
            </div>
        </div>
        <div>
            <small class="mat-small d-block mt-1 mb-3">Property type</small>
            <div>
                <p-dropdown [(ngModel)]="selectedProperty" [showClear]="true" placeholder="All Properties" styleClass="w-100" [options]="propertyTypes"
                    optionLabel="name">
                    <ng-template let-option pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ option.name }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div>
            <small class="mat-small">Property Price Range</small>
            <div>
                <p class="mb-1 text-end mat-small">
                    {{
                    filters.propertyPriceRange[0]
                    | currency : "EGP" : "symbol" : "1.0-0"
                    }}
                    -
                    {{
                    filters.propertyPriceRange[1]
                    | currency : "EGP" : "symbol" : "1.0-0"
                    }}
                </p>

                <p-slider [min]="1 * math.pow(10, 6)" [max]="100 * math.pow(10, 6)" [step]="1 * math.pow(10, 6)"
                    [(ngModel)]="filters.propertyPriceRange" [animate]="true" [range]="true"></p-slider>
                <div class="mt-1 d-flex justify-content-between">
                    <span class="mat-small">1M</span>
                    <span class="mat-small">100M</span>
                </div>
            </div>
        </div>
        <div>
            <small class="mat-small">Share Price Range</small>
            <div>
                <p class="mb-1 text-end mat-small">
                    {{
                    filters.sharePriceRange[0] | currency : "EGP" : "symbol" : "1.0-0"
                    }}
                    -
                    {{
                    filters.sharePriceRange[1] | currency : "EGP" : "symbol" : "1.0-0"
                    }}
                </p>
                <p-slider [min]="500 * math.pow(10, 3)" [max]="20*math.pow(10,6)" [step]="500 * math.pow(10, 3)"
                    [(ngModel)]="filters.sharePriceRange" [animate]="true" [range]="true"></p-slider>
                <div class="mt-1 d-flex justify-content-between">
                    <span class="mat-small">500K</span>
                    <span class="mat-small">20M</span>
                </div>
            </div>
        </div>
    </div>
    <p-button (onClick)="getProperties()" styleClass="w-100 text-white">
        <span class="mx-auto">Filter</span>
    </p-button>
    <div *ngIf="properties" class="row row-cols-md-4 g-3 justify-content-center">
        @for (item of properties; track $index) {
        <a [routerLink]="['/property-details/' + item.propertyId]">
            <app-property-card-2 [property]="item"></app-property-card-2>
        </a>
        }
        <!-- <a [routerLink]="['/property-details']" *ngFor="let item of [].constructor(8)">
        </a> -->
    </div>
    <div class="text-center">
        <div class="spinner" [ngClass]="{ 'hidden': !properties }"></div>
        <nz-pagination
        [nzPageIndex]="2"
        [nzTotal]="500"
        nzShowQuickJumper
        nzShowSizeChanger
        [nzPageSizeOptions]="[12,18,24]"
        [nzPageSize]="pagination.size"
        [nzPageIndex]="pagination.index"
        [nzTotal]="pagination.total"
        (nzPageIndexChange)="getPage($event)"
        [(nzPageSize)]="pagination.size"
        (nzPageSizeChange)="getProperties()"
        [nzPageIndex]="pagination.index+1"
        ></nz-pagination>
    </div>
</div>