<h2 dir="auto" class="text-center" mat-dialog-title>About Us</h2>
<mat-dialog-content>
    <div class="organizer">
        <h3>Organizer:</h3>
        <p><strong>Identity Communications</strong></p>
        <p>Providing tailored communications’ solutions to partners to fulfill their business objectives with the aim of
            achieving the optimum return on their marketing investments. Delivering Full-fledged creative
            communications; trade communication, on ground creative engagement & efficient operation, and total
            integrated campaigns (Print, OOH, TVCs, Radio).</p>
        <p>Specialized in managing and coordinating end to end events & exhibitions, with a creative passion and a solid
            foundation standards of operational excellence; focusing on getting the most returns out of our exhibitors’
            & clients’ investments & delivering truly sensational experiences to guests.</p>
        <p class="text-center"><a class="purple" href="https://www.identityeg.com">www.identityeg.com</a></p>
    </div>
</mat-dialog-content>