@if(aboutUs){
    <section class="my-3">
      <div class="row align-items-center g-2">
        <h1 class="col-md-8 fw-bold">
          {{ aboutUs.firstFrame }}
        </h1>
        <div class="col-md-4 d-flex justify-content-center">
          <img class="first-frame-image rounded-3 shadow-sm" [src]="helper.processFileUrl(aboutUs.firstFrameImageUrl)" [alt]="aboutUs.firstFrame">
        </div>
      </div>
    </section>
    <section class="my-3 bg-primary bg-opacity-25 rounded-3 p-3 shadow-sm">
      <h2 class="text-center fw-bold">
        {{ aboutUs.secondFrameTitle }}
      </h2>
      <p class="text-justified" [innerHTML]="aboutUs.secondFrameDescription"></p>
    </section>
    <section class="my-3 bg-primary bg-opacity-10 rounded-3 p-3 shadow-sm">
      <h2 class="text-center fw-bold">
        {{ aboutUs.thirdFrameTitle }}
      </h2>
      <div class="row row-cols-lg-4 row-cols-md-2 gy-3 gx-2">
        
        <div>
          <h3 class="fw-semibold">{{aboutUs.firstSectionTitle}}</h3>
          <div [innerHTML]="aboutUs.firstSectionDescription"></div>
        </div>
        
        <div>
          <h3 class="fw-semibold">{{aboutUs.secondSectionTitle}}</h3>
          <div [innerHTML]="aboutUs.secondSectionDescription"></div>
        </div>
        
        <div>
          <h3 class="fw-semibold">{{aboutUs.thirdSectionTitle}}</h3>
          <div [innerHTML]="aboutUs.thirdSectionDescription"></div>
        </div>
        
        <div>
          <h3 class="fw-semibold">{{aboutUs.fourthSectionTitle}}</h3>
          <div [innerHTML]="aboutUs.fourthSectionDescription"></div>
        </div>
      </div>
    </section>

    <div class="my-5">
      <p-divider />
    </div>
}

@if(managers?.teamMembers?.length){
  <div class="text-center">
    <h2 class="fw-bold">Founding Team</h2>
    <p>{{managers?.title}}</p>
    <div class="row row-cols-lg-3 row-cols-sm-2 justify-content-center g-5">
      @for (manager of managers?.teamMembers; track $index) {
      <div>
        <app-team-member-card [member]="manager"></app-team-member-card>
      </div>
      }
    </div>
  </div>
  <div class="my-5">
    <p-divider />
  </div>
}

@if(team?.teamMembers?.length){

  <div class="text-center">
    <h2 class="fw-bold">Board Of Directors & Advisors</h2>
    <p>{{team?.title}}</p>

    <div class="row row-cols-lg-3 row-cols-sm-2 justify-content-center g-5">
      @for (member of team?.teamMembers; track $index) {
      <div>
        <app-team-member-card [member]="member"></app-team-member-card>
      </div>
      }
    </div>
  </div>
}
