<div class="text-white px-md-5 ">
    <div class=" d-flex flex-column gap-4 px-md-5 mb-5">
        <div class="text-center contained">
            <h1 >Don't get left behind by the legacy real estate market</h1>
            <p class="text-white">It's time for a change. Rising down payments, inflexible terms, and soaring property prices are locking
                all but the wealthy out from building wealth with real estate. Lofty helps anyone lay a path to
                financial freedom with fractional real estate investing.</p>
        </div>
        
        <div class="row row-cols-lg-2 align-items-center flex-wrap-reverse text-lg-start text-center">
            <div>
                <h2>Start investing in Lofty properties</h2>
                Buy fractional ownership in properties across America.
            </div>
            <div>
                <img src="/assets/page-resources/home-sec1.webp" alt="">
            </div>
        </div>

        <div class="journey-image-1 d-lg-block d-none"></div>

        <div class="row row-cols-lg-2 align-items-center text-lg-start text-center">
            <div>
                <img src="/assets/page-resources/home-sec2.webp" alt="">
            </div>
            <div>
                <h2>Automatically receive rental income</h2>
                You’ll get your first rent payment that same day, and daily after that. Your holdings will grow along with the property value, too.
            </div>
        </div>

        <div class="journey-image-2 d-lg-block d-none"></div>

        <div class="row row-cols-lg-2 align-items-center flex-wrap-reverse text-lg-start text-center">
            <div>
                <h2>Build the future you deserve</h2>
                Use your rental income to buy more and more real estate and voilà – you’re on the path to financial freedom.
            </div>
            <div>
                <img src="/assets/page-resources/home-sec3.webp" alt="">
            </div>
        </div>
    </div>
</div>