<div class="container-sm">
  <p-table [value]="orders??[]" [rows]="pagination.size" [totalRecords]="pagination.total">
    <ng-template pTemplate="header">
      <tr>
        <th>User Information</th>
        <th>Order Financial Details</th>
        <th>Property Details</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>
          <div>UserID: {{order.userInformation.userId}}</div>
          <div>Name: {{order.userInformation.firstName}} {{order.userInformation.middleName}}
            {{order.userInformation.lastName}}</div>
          <div>DOB: {{order.userInformation.dateOfBirth | date:'mediumDate'}}</div>
          <div>Address: {{order.userInformation.address}}</div>
          <div>Occupation: {{order.userInformation.occupation}} at {{order.userInformation.companyName}}</div>
          <div>Investor Type: {{order.userInformation.investorType}}</div>
          <div>Phone: {{order.userInformation.phoneNumber}}</div>
          <div>Email: {{order.userInformation.email}}</div>
        </td>
        <td>
          <div>Order ID: {{order.orderFinancialDetails.orderId}}</div>
          <div>Order Number: {{order.orderFinancialDetails.orderNumber}}</div>
          <div>Transaction Fees: {{order.orderFinancialDetails.transactionFees | currency}}</div>
          <div>Shares: {{order.orderFinancialDetails.numberOfShares}}</div>
          <div>Share Price: {{order.orderFinancialDetails.sharePrice | currency}}</div>
          <div>Down Payment: {{order.orderFinancialDetails.downPayment | currency}}</div>
          <div>Monthly Installment: {{order.orderFinancialDetails.monthlyInstallment | currency}}</div>
          <div>Years: {{order.orderFinancialDetails.numberOfYears}}</div>
          <div>Maintenance Installment: {{order.orderFinancialDetails.maintenaceInstallment | currency}}</div>
          <div>Delivery Installment: {{order.orderFinancialDetails.deliveryInstallment | currency}}</div>
          <div>Order Date: {{order.orderFinancialDetails.orderDate | date:'mediumDate'}}</div>
          <div>Confirmation Date: {{order.orderFinancialDetails.confirmationDate | date:'mediumDate'}}</div>
        </td>
        <td>
          <div>Property ID: {{order.property.propertyId}}</div>
          <div><img [src]="helper.processFileUrl(order.property.imageUrl)" alt="Property Image" style="width:100px;height:auto;"></div>
          <div>Address: {{order.property.address}}</div>
          <div>City: {{order.property.city}}</div>
          <div>Annual Return: {{order.property.projectedAnnualReturn}}%</div>
          <div>Rental Yield: {{order.property.projectedRentalYield}}%</div>
          <div>Token Price: {{order.property.tokenPrice | currency}}</div>
          <div>Available Tokens: {{order.property.availableTokens}}</div>
        </td>
        <td>
          <p-button [raised]="true" (onClick)="confirmOrder(order.orderFinancialDetails.orderId)">
            <span class="text-white mx-auto">
              <i class="pi pi-check"></i>
            </span>
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="text-center my-3">
    <div class="spinner" [ngClass]="{ 'hidden': !orders }"></div>
    <nz-pagination [nzPageIndex]="2" [nzTotal]="500" nzShowQuickJumper nzShowSizeChanger
      [nzPageSizeOptions]="[12,18,24]" [nzPageSize]="pagination.size" [nzPageIndex]="pagination.index"
      [nzTotal]="pagination.total" (nzPageIndexChange)="getPage($event)" [(nzPageSize)]="pagination.size"
      (nzPageSizeChange)="getOrders()" [nzPageIndex]="pagination.index+1"></nz-pagination>
  </div>
</div>