<div class="text-white">
  <div
    class="d-lg-flex text-center justify-content-between align-items-center flex-wrap"
  >
    <img class="mb-lg-0 mb-3" src="/assets/logos/qisma.png" height="40" />
    <div class="d-lg-flex gap-4 flex-wrap">
      @for (item of navLinks; track $index) {
      <a class="d-block mb-lg-0 mb-3" [routerLink]="item.routerLink">
        <span class="purble-link">{{ item.label }}</span>
      </a>
      }
    </div>
  </div>
  <div
    class="mt-5 justify-content-md-start justify-content-center d-flex gap-2 flex-wrap"
  >
    <i class="pi pi-twitter fs-3"></i>
    <i class="pi pi-linkedin fs-3"></i>
    <i class="pi pi-facebook fs-3"></i>
    <i class="pi pi-reddit fs-3"></i>
  </div>
  <!-- <div class="mt-5 text-justify">
    <small class="mat-small">{{footerText}}</small
    >
  </div> -->
</div>
