::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track
::-webkit-scrollbar-track {
} */

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-500);
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-700);
}

.messages-container{
  z-index: 8;
}