@if (orderPreview) {
  <div class="d-flex flex-column gap-3">
  
  
    <!-- Personal Info Section -->
    <div>
      <span class="fw-bold">Personal Info</span>
      <div class="d-flex justify-content-between flex-wrap">
        <label>User Name:</label>
        <span>{{orderPreview.userInformation?.userName}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Email:</label>
        <span>{{orderPreview.userInformation?.email}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>User Address:</label>
        <span>{{orderPreview.userInformation?.userAddress}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Phone Number:</label>
        <span>{{orderPreview.userInformation?.phoneNumber}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>ID Number:</label>
        <span>{{orderPreview.userInformation?.idNumber}}</span>
      </div>
    </div>
  
  
    <mat-divider></mat-divider>
  
    <!-- Property Payment Section  -->
    <div>
      <span class="fw-bold">Order Info</span>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Property Name:</label>
        <span>{{orderPreview.propertyName}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Property Title:</label>
        <span>{{orderPreview.propertyLocation}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Number Of Shares To Order:</label>
        <span>{{numberOfShares}}</span>
      </div>
      
      <div class="d-flex justify-content-between flex-wrap">
        <label>Share Price:</label>
        <span>{{orderPreview.orderingPage?.sharePrice | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Transaction Fees:</label>
        <span>{{orderPreview.orderingPage?.transactionFees | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Down Payment:</label>
        <span>{{orderPreview.orderingPage?.downPayment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Monthly Installment:</label>
        <span>{{orderPreview.orderingPage?.monthlyInstallment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Number of Years:</label>
        <span>{{orderPreview.orderingPage?.numberOfYears}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Maintenance Installment:</label>
        <span>{{orderPreview.orderingPage?.maintenaceInstallment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Delivery Installment:</label>
        <span>{{orderPreview.orderingPage?.deliveryInstallment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
    </div>
    
  </div>
}