<a class="text-center" href="https://www.linkedin.com/in/nazem0/" target="_blank">
    <h1>Frontend : Mohamed Nazem</h1>
    <p>+201100233249</p>
</a>
<div class="d-flex justify-content-center gap-3">
    <a href="https://www.linkedin.com/in/nazem0/" target="_blank">
        <p-button severity="info" [raised]="true">
            <i class="pi pi-linkedin"></i>
        </p-button>
    </a>
    <a href="https://wa.me/201100233249" target="_blank">
        <p-button severity="success" [raised]="true" >
            <i class="pi pi-whatsapp"></i>
        </p-button>
    </a>
</div>