.p-treetable-toggler{
    visibility: visible !important;
}

/* home.component.css */

.p-treetable th:nth-child(1) {
    width:50%;
    /* max-width: 100%; */
    /* Adjust the width as needed */
}

.p-treetable th:nth-child(2) {
    width: 50%;
    /* Adjust the width as needed */
}


.p-treetable td:nth-child(3) {
    width: 50%;
    /* Adjust the width as needed */
}
.p-treetable td:nth-child(4) {
    width: 50%;    /* Adjust the width as needed */
}

.bg-charcoal{
    background-color: rgba(31, 41, 55, 0.5) !important;
}