<div class="px-md-5">
        <div class="text-center contained">
            <h1>Invest in fractions of rental properties across America</h1>
            <p>All without leaving your living room. No experience, connections, or down payments required.</p>
        </div>
    <div class="mx-auto row row-cols-lg-3 g-3">
        <app-property-card *ngFor="let item of [].constructor(3)"></app-property-card>
    </div>

    <div class="d-flex justify-content-center pt-5">
        <p-button [routerLink]="['/marketplace']" [raised]="true" [rounded]="true" styleClass="px-5 pt-3" >View Properties</p-button>
    </div>
</div>