<section>
    <app-hero-section></app-hero-section>
</section>
<div>

    <section class="bg-dark-blue py-5 rounded-3 shadow-sm">
        <div>
            <app-home-section-1></app-home-section-1>
        </div>
    </section>

    <section>
        <app-home-section-2></app-home-section-2>
    </section>

    <section>
        <app-home-section-3></app-home-section-3>
    </section>

    <!-- <section>
        <app-home-section-4></app-home-section-4>
    </section> -->

    <section class=" bg-dark-blue py-5 rounded-3">
        <app-home-section-5></app-home-section-5>
    </section>

    <!-- <section class=" py-5">
        <app-home-section-6></app-home-section-6>
    </section> -->

    <app-faq></app-faq>

    <app-blog [slice]="3" [withRouterLink]="false"></app-blog>
</div>
