<header class="text-center my-3">
  <h2>Place Order</h2>
</header>
<div class="d-flex flex-column gap-3">
  @if(originalProperty && clonedProperty){
  <div class="bg-white rounded-3 p-3 shadow-sm">
    <div>
      <div class="d-flex justify-content-between mt-3">
        <p>Minimum Number Of Shares</p>
        <p class="text-center">{{ originalProperty.minNumberOfShares }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Availiable Shares</p>
        <p class="text-center">{{ originalProperty.availableShares }}</p>
      </div>
    </div>

    <div>
      <p class="text-center fw-bold">Number Of Shares To Order</p>
      <p-inputNumber
        styleClass="w-100"
        class="w-100"
        [(ngModel)]="numberOfShares"
        (ngModelChange)="updatePaymentInfoByNumberOfShares()"
        inputId="minmax"
        mode="decimal"
        [min]="originalProperty.minNumberOfShares!"
        [max]="originalProperty.availableShares!"
        [step]="1"
        [showButtons]="true"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [buttonLayout]="'horizontal'"
      >
      </p-inputNumber>
    </div>
  </div>

  <div class="shadow-sm p-3 rounded-3 bg-white">
    <app-payment-plan [property]="clonedProperty"></app-payment-plan>
  </div>
  <div class="bg-white shadow-sm p-3 rounded-3">
    <div class="d-flex justify-content-between">
      <label>Share Price:</label>
      <span>{{
        originalProperty.sharePrice | currency : "EGP" : "symbol" : "1.0-0"
      }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex justify-content-between">
      <label>Transaction Fees:</label>
      <span>{{
        clonedProperty.transactionFees | currency : "EGP" : "symbol" : "1.0-0"
      }}</span>
    </div>
  </div>
  } @if(numberOfShares && propertyId){
  <p-button [raised]="true" styleClass="w-100" (onClick)="openOrderPreview()">
    <span class="mx-auto text-white">Place Order</span>
  </p-button>
  <p-dialog
    header="Order Preview"
    [(visible)]="displayOrderPreview"
    [modal]="true"
  >
    <app-order-preview
      [numberOfShares]="numberOfShares"
      [propertyId]="propertyId"
    ></app-order-preview>
    <p-footer>
      <div
        class="d-flex flex-column align-items-center justify-content-center gap-3"
      >
        <p-checkbox
          label="I agree to terms & conditions and Privacy Policy"
          [binary]="true"
          [(ngModel)]="agree"
        ></p-checkbox>
        <p-button
          [raised]="true"
          styleClass="w-100"
          (onClick)="placeOrder()"
          [disabled]="!agree"
        >
          <span class="text-white mx-auto">
            <i class="pi pi-check"></i>
            Confirm Order
          </span>
        </p-button>
      </div>
    </p-footer>
  </p-dialog>
  } @if(orderCode){
  <p-dialog
    header="Order Preview"
    [(visible)]="displayOrderConfirmation"
    [modal]="true"
  >
    <app-order-confirmation
      [numberOfShares]="numberOfShares"
      [propertyId]="propertyId"
      [orderCode]="orderCode"
    ></app-order-confirmation>
  </p-dialog>
  }
</div>
