<div class="container-sm">
  @if(originalProperty && clonedProperty){
  <div>
    <div class="d-flex justify-content-between mt-3">
      <p>Minimum Number Of Shares</p>
      <p class="text-center">{{originalProperty.minNumberOfShares}}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p>Availiable Shares</p>
      <p class="text-center">{{originalProperty.availableShares}}</p>
    </div>
  </div>


  <div class="d-flex justify-content-between">
    <p>Number Of Shares To Order</p>
    <p class="text-center">{{numberOfShares}}</p>
  </div>
  <div class="mb-4">
    <p-slider [min]="originalProperty.minNumberOfShares!" [max]="originalProperty.availableShares!" [step]="1"
      [(ngModel)]="numberOfShares" (ngModelChange)="updatePaymentInfoByNumberOfShares()" [animate]="true">
    </p-slider>
  </div>

  <div class="shadow-sm p-3 rounded-3 mb-2 bg-white">
    <app-payment-plan [property]="clonedProperty"></app-payment-plan>
  </div>
  <div class="bg-white shadow-sm px-3 py-2 mb-3">
    <div class="d-flex justify-content-between">
      <label>Share Price:</label>
      <span>{{
        originalProperty.sharePrice | currency : "EGP" : "symbol" : "1.0-0"
        }}</span>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex justify-content-between">
      <label>Transaction Fees:</label>
      <span>{{
        clonedProperty.transactionFees | currency : "EGP" : "symbol" : "1.0-0"
        }}</span>
    </div>
  </div>
  }
  <p-button [raised]="true" styleClass="w-100" (onClick)="openOrderPreview()">
    <span class="mx-auto text-white">Place Order</span>
  </p-button>
</div>


@if(orderPreview){
<p-dialog header="Order Preview" [(visible)]="displayOrderPreview" [modal]="true" [style]="{width: '50vw'}">
  <div class="d-flex flex-column gap-3">


    <!-- Personal Info Section -->
    <div>
      <span class="fw-bold">Personal Info</span>
      <div class="d-flex justify-content-between flex-wrap">
        <label>User Name:</label>
        <span>{{orderPreview.userInformation?.userName}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Email:</label>
        <span>{{orderPreview.userInformation?.email}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>User Address:</label>
        <span>{{orderPreview.userInformation?.userAddress}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Phone Number:</label>
        <span>{{orderPreview.userInformation?.phoneNumber}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>ID Number:</label>
        <span>{{orderPreview.userInformation?.idNumber}}</span>
      </div>
    </div>


    <mat-divider></mat-divider>

    <!-- Property Payment Section  -->
    <div>
      <span class="fw-bold">Order Info</span>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Property Name:</label>
        <span>{{orderPreview.propertyName}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Property Location:</label>
        <span>{{orderPreview.propertyLocation}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Number Of Shares To Order:</label>
        <span>{{numberOfShares}}</span>
      </div>
      
      <div class="d-flex justify-content-between flex-wrap">
        <label>Share Price:</label>
        <span>{{orderPreview.orderingPage?.sharePrice | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Transaction Fees:</label>
        <span>{{orderPreview.orderingPage?.transactionFees | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Down Payment:</label>
        <span>{{orderPreview.orderingPage?.downPayment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Monthly Installment:</label>
        <span>{{orderPreview.orderingPage?.monthlyInstallment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Number of Years:</label>
        <span>{{orderPreview.orderingPage?.numberOfYears}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Maintenance Installment:</label>
        <span>{{orderPreview.orderingPage?.maintenaceInstallment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
      <div class="d-flex justify-content-between flex-wrap">
        <label>Delivery Installment:</label>
        <span>{{orderPreview.orderingPage?.deliveryInstallment | currency : "EGP" : "symbol" : "1.0-0"}}</span>
      </div>
    </div>

    
  </div>
  <p-footer>
    <p-button [raised]="true" styleClass="w-100" (onClick)="placeOrder()">
      <span class="text-white mx-auto">
        <i class="pi pi-check"></i>
        Confirm Order
      </span>
    </p-button>
  </p-footer>
</p-dialog>

}