<div class="text-center">
  <p-button (click)="showDialog()" [severity]="severity"
    styleClass="w-100 border-0">
    <span class="text-white mx-auto">{{label}}</span>
  </p-button>
  <p-dialog #dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
      <div>{{title}}</div>
    </ng-template>
    <p class="m-0">
      {{description}}
    </p>
    <ng-template pTemplate="footer">
      <div class="d-flex gap-2">
        <div class="col">
          <p-button (click)="visible = false; confirmation.next(true);" pAutoFocus
            [autofocus]="true" styleClass="w-100">
            <span class="text-white mx-auto">Yes</span>
          </p-button>
        </div>

        <div class="col">
          <p-button (click)="visible = false;" pAutoFocus [autofocus]="true" styleClass="w-100">
            <span class="text-white mx-auto">No</span>
          </p-button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</div>