<div class="p-4">
  <!-- <div class="confirm-container" style="width: 431px;"> -->
@if(data.title)
{
  <div
    mat-dialog-title
    class="d-flex justify-content-center align-items-center"
    style="height: 70px"
  >
    <h2 class="mb-0 ms-3">{{ data.title }}</h2>
  </div>
}

<div mat-dialog-content class="mx-auto text-center">{{ data.message }}</div>

<div class="d-flex gap-2 justify-content-center" mat-dialog-actions>
  <p-button
    [raised]="true"
    mat-dialog-close
    cdkFocusInitial
    (click)="dialogRef.close(true)"
    styleClass="w-100"
    >Confirm</p-button
  >
  <p-button
    [raised]="true"
    mat-dialog-close
    (click)="dialogRef.close(false)"
    severity="secondary"
    styleClass="w-100"
    >Cancel</p-button
  >
</div>

</div>