<div>
    <h2>Reset Password</h2>
    <form [formGroup]="form" (ngSubmit)="submitForm()" class="d-flex flex-column gap-3">
        <div class="p-field">
            <div class="p-input-icon-left w-100">
                <i class="pi pi-key"></i>
                <input type="text" placeholder="Code" pInputText formControlName="code" />
              </div>
            <small class="text-danger" *ngIf="helper.formControlInvalid(form,'code')">Code is required</small>
        </div>
    
        <div class="p-field">
            <div class="p-input-icon-left w-100">
                <i class="pi pi-envelope"></i>
                <input type="email" placeholder="Email" pInputText formControlName="email" />
              </div>
            <small class="text-danger" *ngIf="helper.formControlInvalid(form,'email')">Email is required</small>
        </div>
    
        <div class="p-field">
            <div class="p-input-icon-left p-input-icon-right w-100">
                <i class="pi pi-lock"></i>
                <input [type]="hidePassword ? 'password' : 'text'" placeholder="New Password" pInputText
                  formControlName="newPassword" />
                <i class="pointer pi pi-eye" (click)="toggleHidePassword()"></i>
              </div>
            <small class="text-danger" *ngIf="helper.formControlInvalid(form,'newPassword')">
                Password is required
                <ul class="text-start">
                  <li>The password must have at least 6 characters.</li>
                  <li>At least one uppercase letter.</li>
                  <li>At least one lowercase letter</li>
                  <li>At least one digit.</li>
                  <li>At least one special character.</li>
                </ul>
              </small>
        </div>
    
        <p-button [rounded]="false" [raised]="true" type="submit">Submit</p-button>
    </form>
    
</div>