<header class="text-center my-3">
  <h3 class="fw-bold">Blog</h3>
</header>
@if(isInAdminPanel){
<div class="my-3">
  <button pButton class="w-100 text-white" [routerLink]="['./actions']">
    <span class="mx-auto"> <i class="pi pi-plus"></i> Create Blog </span>
  </button>
</div>
}
<div class="row row-cols-lg-3 row-cols-md-2 justify-content-center g-5">
  @for (blog of slice ? blogs.slice(0,slice): blogs; track $index) {
  <div class="blog-card">
    <app-blog-card [blog]="blog">
      @if(isInAdminPanel){
      <div class="row row-cols-2 g-3 m-2">
        <div>
          <button class="text-white w-100" pButton severity="warning" [routerLink]="['./actions/'+blog.id]">
            <i class="mx-auto pi pi-pencil"></i>
          </button>
        </div>
        <div>
          <app-confirm (confirmation)="deleteBlog(blog.id!)" title="Delete"
            [description]="'Are you sure you want to delete  ' + blog.title">
            <button pButton severity="danger" class="text-white w-100">
              <i class="mx-auto pi pi-trash"></i>
            </button>
          </app-confirm>
        </div>
      </div>
      }
    </app-blog-card>
  </div>
  }
</div>