<div class="d-flex justify-content-between">
  <a [routerLink]="['../../']" routerLinkActive="router-link-active">
    <span><i class="pi pi-arrow-circle-left"></i> All Blogs</span>
  </a>
  @if(isInAdminPanel){
  <app-confirm
    (confirmation)="deleteBlog(blog?.id!)"
    title="Delete"
    [description]="'Are you sure you want to delete  ' + blog?.title"
  >
    <button pButton severity="danger" class="text-white w-100">
      <small class="mx-auto">Delete Blog</small>
    </button>
  </app-confirm>
  }
</div>
<div class="row row-cols-lg-2 align-items-center">
  <div class="text-center">
    <h2>{{ blog?.title }}</h2>
    @if(blog?.link){

    <a [href]="blog?.link" target="_blank"><small>Click here for more information</small></a>
    }
  </div>
  <div class="mb-3 d-flex justify-content-center">
    <img
      class="blog-image"
      [src]="helper.processFileUrl(blog?.imageUrl!)"
      alt=""
    />
  </div>
</div>

<div class="my-5">
  <mat-divider></mat-divider>
</div>

<div [innerHTML]="blog?.description"></div>
