<div
  class="blog-image mb-3 w-100"
  [style.background-image]="helper.getBackgroundImage(blog?.imageUrl!)"
></div>
<div class="d-flex justify-content-between">
  <a [routerLink]="['../../']" routerLinkActive="router-link-active" >
    <span><i class="pi pi-arrow-circle-left"></i> All Blogs</span>
  </a>
  @if(isInAdminPanel){
    <app-confirm
      (confirmation)="deleteBlog(blog?.id!)"
      title="Delete"
      [description]="'Are you sure you want to delete  ' + blog?.title"
    >
      <button
        pButton
        severity="danger"
        class="text-white w-100"
      >
        <small class="mx-auto">Delete Blog</small>
      </button>
    </app-confirm>
    }
</div>
<div class="text-center">
  <h2>{{blog?.title}}</h2>
</div>

<div class="my-5">
  <mat-divider></mat-divider>
</div>

<div [innerHTML]="blog?.description"></div>
