<div class="container-sm">
  <div class="row justify-content-between align-items-center py-3">
    <div class="col-lg-2">
      <div class="d-flex justify-content-between align-items-center">
        <a [routerLink]="['/home']">
          <img src="/assets/logos/logo.png" height="40" class="ms-2 me-auto" />
        </a>
        <mat-icon class="ms-2" style="cursor: pointer" (click)="toggleNavbarCollapse();">
          menu
        </mat-icon>
        @if(showSidebarMenuButton && (authHelper.isLoggedIn|async)){
        <img [src]="helper.generateAvatar(authHelper.getUserName()!)" style="cursor: pointer" height="40"
          class="rounded-circle" (click)="toggleCollapse();  togglerEvent.next(collapse)" />
        }
      </div>
    </div>





    <!-- PC Navbar View -->
    <div class="d-none d-lg-flex flex-row gap-4 justify-content-end align-items-center col-lg-10 transition">
      @for (link of links; track $index) {
      <a [routerLink]="link.routerLink">
        {{ link.label }}
      </a>
      } @if(authHelper.isLoggedIn | async){
      <!-- Angular Material Menu -->

      <img [matMenuTriggerFor]="userMenu" [src]="helper.generateAvatar(authHelper.getUserName()!)"
        style="cursor: pointer" height="40" class="rounded-circle" />
      <mat-menu #userMenu="matMenu">
        @if(authHelper.hasRole(roles.Admin)){
        @for (link of adminLinks; track $index) {
        <button mat-menu-item [routerLink]="link.routerLink">
          {{ link.label }}
        </button>
        }
        }
        @if(authHelper.hasRole(roles.Customer)){
        @for (link of userLinks; track $index) {
        <button mat-menu-item [routerLink]="link.routerLink">
          {{ link.label }}
        </button>
        }
        }
        <button mat-menu-item (click)="authHelper.logout()">
          Logout
        </button>
      </mat-menu>
      } @else{ @for (link of guestLinks; track $index) {
      <a [routerLink]="link.routerLink">
        {{ link.label }}
      </a>
      } }
    </div>




    <!-- Mobile View Navbar -->
    <div class="d-flex d-lg-none flex-column gap-4 justify-content-center transition overflow-y-scroll" [ngClass]="{ expanded: !navbarCollapse, collapsed: navbarCollapse }">
      @for (link of links; track $index) {
      <a [routerLink]="link.routerLink" (click)="toggleNavbarCollapse()">
        {{ link.label }}
      </a>
      } @if(authHelper.isLoggedIn | async){
      
      @if(authHelper.hasRole(roles.Admin)){
      @for (link of adminLinks; track $index) {
      <a [routerLink]="link.routerLink" (click)="toggleNavbarCollapse()">
        {{ link.label }}
      </a>
      }
      }
      @if(authHelper.hasRole(roles.Customer)){
      @for (link of userLinks; track $index) {
      <a [routerLink]="link.routerLink" (click)="toggleNavbarCollapse()">
        {{ link.label }}
      </a>
      }
      }
      <a (click)="authHelper.logout()">
        Logout
      </a>
      }

      @else{

      @for (link of guestLinks; track $index) {
      <a [routerLink]="link.routerLink" (click)="toggleNavbarCollapse()">
        {{ link.label }}
      </a>
      }
      }
    </div>
  </div>
</div>