<div class="container-sm pb-3">
    <h1 class="text-center">Add Property Images</h1>
    <div class="mb-3 d-flex flex-column align-items-center">
        <div class="mb-3">
            <p-button [rounded]="true" [raised]="true">
                <label for="upload-files">
                    <i class="pi pi-plus text-white"></i>
                </label>
            </p-button>
        </div>
        <input class="d-none" type="file" id="upload-files" #uploadedFiles accept="image/*" multiple>
        <ng-container *ngIf="inputArray">
            <div class="row row-cols-md-3 g-2 justify-content-center">
                <div class="position-relative" *ngFor="let item of inputArray; let i = index">
                    <!-- <p-button [rounded]="true" severity="danger" styleClass="position-absolute top-0 p-1" (click)="delete(i)">
                        <i class="pi pi-times text-white"></i>
                    </p-button> -->
                    <img class="border border-3 h-100 w-100" [src]="item">

                </div>
            </div>
        </ng-container>
        <div class="mt-5">
            <p-button styleClass="text-white" [severity]="'success'" type="submit" (click)="addAttachmnets()">Submit</p-button>
        </div>
    </div>
    <div class="row g-2 row-cols-md-3 justify-content-center">
        <div class="position-relative" *ngFor="let img of images">
            <!-- <button class="position-absolute top-0 btn btn-danger" (click)="delete(pic.id)">
                <i class="fa fa-xmark text-light"></i>
            </button> -->
            <img loading="lazy" class="border border-3 h-100 w-100" [src]="helper.processFileUrl(img)" alt="ملحقات المنشور">
        </div>
    </div>
</div>