<div class="row row-cols-lg-2 gy-2 mx-auto py-5 align-items-start flex-wrap-reverse">
    <div>
        <div class="gradient-background-dark">
            <h1 class="h1">Fractional Real Estate Marketplace</h1>
        </div>
        <p class="fs-5">
            Invest in rental properties without getting locked in (or out). Buy just
            a fraction of a property and collect your first rent payment later
            today.
        </p>
        <div class="d-flex gap-4 flex-wrap justify-content-center justify-content-sm-start align-items-center">
            <p-button [rounded]="true" [raised]="true" [routerLink]="['/marketplace']" styleClass="px-5 pt-3 text-white" >View Properties</p-button>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <img class="w-100" src="/assets/page-resources/hero.webp" alt="" />
    </div>
</div>
<div id="logos-container"
    class="mx-auto row row-cols-lg-6 row-cols-sm-3 row-cols-2 mx-0 g-5 justify-content-center align-items-center">
    <a href="https://www.nbcnews.com/tech/crypto/crypto-real-estate-investment-landlords-rcna20029" target="_blank"><img
            src="https://assets-global.website-files.com/5eb83629a119283a8908371b/6303de393ab24bc8fad13ead_NBC%20png.png"
            loading="lazy" alt="" /></a>
    <a href="https://markets.businessinsider.com/news/stocks/y-combinator-backed-lofty-ai-launches-tokenized-liquid-marketplace-for-a-i-vetted-real-estate-on-algorand-1030746726"
        target="_blank"><img
            src="https://assets-global.website-files.com/5eb83629a119283a8908371b/6303de38bb4b84d9f2d6f561_Business%20Insider.png"
            loading="lazy" alt="" /></a>
    <a href="https://www.forbes.com/sites/forbesbusinessdevelopmentcouncil/2022/04/06/three-new-ways-to-fund-a-startup/?sh=4339ee0b62cc"
        target="_blank"><img
            src="https://assets-global.website-files.com/5eb83629a119283a8908371b/6303de382897f9e89e4b8a5c_Forbes%20png.png"
            loading="lazy" alt="" /></a>
    <a href="https://www.bizjournals.com/southflorida/inno/stories/news/2022/08/11/investing-with-lofty-ai.html"
        target="_blank"><img
            src="https://assets-global.website-files.com/5eb83629a119283a8908371b/63a35389d3a2896d7e4ba2a2_The_business_journals.png"
            loading="lazy" alt="" /></a>
    <a href="https://www.nasdaq.com/articles/new-algorand-project-plays-ball-with-sec-now-focused-on-fractional-nfts"
        target="_blank"><img
            src="https://assets-global.website-files.com/5eb83629a119283a8908371b/6303ddbcab194d0e482473d9_image.png"
            loading="lazy" alt="" /></a>
    <a href="https://techcrunch.com/2023/12/21/crypto-tokenization-of-assets/" target="_blank"><img
            src="https://assets-global.website-files.com/5eb83629a119283a8908371b/659dcb8690526b9ddc7fe581_techcrunch.png"
            loading="lazy" alt="" /></a>
</div>
